
.file-uploader{
    margin: 0 auto;
    padding: 10px;
}
.file-uploader-main{
    width: 600px;
    margin: 0 auto;
}

.file-picker{
    border: 1px dashed black;
    cursor: pointer;
}


.files-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    margin-top: 20px;
    min-height: 400px;
}



.file-view{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px dashed gray;
    margin-top: 20px;

}
.file-name{
    font-weight: bold;
}
.file-actions{
    cursor: pointer;
    margin-left: auto;
    display: flex;
}
.file-actions > div{
    margin: 0 5px;
}
